.DataInput-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding: 0 5% 0 25%;
}

.DataInput-container .DataInput-page-indicator {
  display: flex;
  align-items: center;
  text-align: bottom;
  padding: 0.5rem;
  gap: 3rem;
  margin-top: 2.5%;
}

.DataInput-container .DataInput-page-indicator .DataInput-indicator-text {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.DataInput-container .DataInput-textarea-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DataInput-container .DataInput-textarea-wrapper .DataInput-textarea-control {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DataInput-container
  .DataInput-textarea-wrapper
  .DataInput-textarea-control
  .DataInput-textarea {
  width: 50%;
  height: 25%;
}

.DataInput-container .DataInput-footer {
  position: absolute;
  bottom: 0;
  width: 70%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
